body {
    background-color: rgb(126, 230, 82);
}

#baslik {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: rgb(221, 59, 186);
}

li {
    font-family: Arial, sans-serif;
    padding: 15px;
    margin: 7px;
    border: 3px solid rgb(221, 59, 186);
}

.gorev {
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.gorev-ekle {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.vurgu {
    color: rgb(221, 59, 186);
}
span {
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
} 
.bitti {
    text-decoration: line-through;
    color: gray;
}